.container {
    background: #67d7cc;
    border-radius: 1rem;
    padding: 1rem;
    min-height: 10.625rem; //170px

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    textarea {
        resize: none;
        border: none;
        background: inherit;

        &:focus {
            outline: none;
        }
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            background: #e1e1e1;
            border: none;
            border-radius: 1rem;
            padding: 5px 10px;
            transition: all ease-in .2s;
            cursor: pointer;

            &:hover {
                background: #ededed;

            }
        }
    }
}